<!-- begin project -->

<div class="projectitem">
  <a class="post-link" href="{{ project.link | absolute_url}}"> 
      {% if project.image %}
      <img class="projectimage" src="{{ project.image }}" alt="{{ project.title }}"> 
      {% else %}
      <img class="projectimage" src="assets/images/pile.jpg" alt="{{ project.title }}"> 
      {% endif %}
    </a>
  <div class="project-body">
   <h2 class="project-title"> <a href="{{ project.link | absolute_url }}">{{ project.title }}</a></h2>
    {{project.content}}
  </div>
</div>

<!-- end project -->
