.post-body{
  margin-left: 30px;
}

.boxed {
  border: 2px solid $grey-color-light; 
  margin: 2px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 $grey-color-light;
  overflow: auto;
  float: left;
}

.boxed:hover {
  border: 2px solid $grey-color;
}

.rounded{
  border-radius: 8px;
}

.post-list{
 text-align:left;	
}

.blogpost {
  width: 29%;
  height: 500px;
  float: left;
  @include media-query($content-width) {	
    width: 44%;
    height: 500px;	      
  } 	   
  @include media-query($on-palm) {
    width: 95%;
    height: auto;
    float:center; 
  }
}

.blogimage{
  border-radius: 8px;	
  width: 100%;
  height: auto;
  @include media-query($on-palm) {
    width: 50%;    
    height: auto;
    margin-left: 25%;
  }
}

.projectitem{
  border-bottom: 3px solid $grey-color-light;
  overflow: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.projectimage{
  border-radius: 8px;
  width: 15%;
  height: auto;
  float: left;
  padding: 4px;
}

.project-body{
  margin-top: 0px;
  overflow: auto;
}

.project-title{
  margin: 0px;
}

.pagination{
  clear: both;
  margin-top: 525px;
}
